.admin-container {
  width: 1200px;
  margin-top: 20px;
  border: 1px solid $dark-grey;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .editor-container {
    padding: 20px;
  }
}

.new-playlist-item {
  margin-top: 15px;
  border: 1px solid $dark-grey;
  padding: 10px;
}
