<div class="login-panel">
  <%= simple_form_for :session, url: admin_login_path, method: "POST" do |f| %>
    <%= f.input :name, label: "username" %>
    <%= f.input :password, label: "password" %>
    <%= f.button :submit, "submit" %>
  <% end %>
</div>
