<div class="main-container">
  <div class="admin-container">

    <div class="sidebar-container">
      <div class="widget-container">
        <div class="widget-header">
          Some Text here
        </div>
      </div>
    </div>

    <div class="content-container">
      More text here.
    </div>
  </div>
</div>
