<div class="form-inline nested-fields playlist-fields">
  <%= link_to_remove_association "x", f %>
  <%= f.input :time_marker, label: false, placeholder: 'time' %>
  <div id="track">
    <%= f.simple_fields_for :track do |track| %>
      <%= render 'track_fields', f: track %>
    <% end %>
  </div>
</div>
