<div class="sidebar-container">
  <p>Sidebar...</p>
</div>

<div class="content-container">
  <div class="episode-header"><%= @episode.show.name %> >> <%= @episode.title %></div>
  <div class="playlist">
    <%= render partial: "playlist", collection: @playlists %>
  </div>
</div>
