.input, textarea {
  margin-bottom: 10px;
}

.input-large {
  width: 95%;
  height: 25px;
  padding: 10px;
  font-size: 1.5em;
}

.textarea-large {
  width: 95%;
  height: 125px;
  font-size: 1.25em;
  padding: 10px;
}

.inline-group {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 50px;

  > * {
    display: inline-block;

    input {
      width: 95%;
      height: 20px;
      padding: 5px;
      font-size: 1em;
    }
  }
}
