// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75px;
  padding-bottom: 60px;
  background-color: $pink;
  color: #fff;

  .logo {
    margin: 0px auto;
  }
}
