// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  height: 100px;
  margin-bottom: 40px;
  background-color: $text-color;
  color: #fff;

  .site-name {
    padding: 20px;
    font-size: 52px;
    text-transform: uppercase;
  }
}
