// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  .site-name {
    font-size: 52px;
    margin-bottom: 35px;
  }
}
