.sidebar-container {
  display: grid;
  grid-auto-rows: 150px;
  grid-gap:20px;

  p {
    margin: 0;
  }

  .widget-container {
    padding: 20px;
    border: 1px solid $text-color;

    .widget-header {
      font-size: $text-md;
    }
  }
}
