// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Text sizing
$text-xl: 1.5em;
$text-lg: 1.25em;
$text-md: 1.15em;

/// Colors
$dark-grey: #444;
$mid-grey: #aaa;
$light-grey: #eee;

$pink: #F6CECE;
$yellow: #F3F781;

/// Copy text color
/// @type Color
$text-color: $dark-grey !default;

/// Main brand color
/// @type Color
$red: rgb(200, 0, 80) !default;

/// Container's maximum width
/// @type Length
$max-width: 1000px !default;


/// Media Element
$player: 'mejs_'
