.audio-player {
  display: grid;
  grid-template-rows: 5fr 1fr;

  .#{$player}_container {
    background: $light-grey;
  }

  .player-header {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding: 20px;
    background: linear-gradient($pink, $yellow);
    color: $dark-grey;

    .show-name {
      font-size: 3.5rem;
    }

    .episode-title {
      font-size: 2.0rem;
    }

    .episode-description {
      font-size: .85em;
    }

    .current-track {
      text-align: center;
    }
  }

}
