.playlist-item {
  display: grid;
  grid-template-columns: 1fr 13fr;
  grid-template-rows: 1fr;
  margin-bottom: 10px;
}

.track-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.track-basic {
  font-size: $text-md;
}

.track-extended {
  color: rgb(150, 150, 150);
  font-size: .85em;
}

.playlist-time {
  font-size: $text-md;
}
