.playlist {
  display: grid;
  grid-auto-rows: auto;
  padding: 20px;


  .playlist-item {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-gap: 20px;
    font-size: $text-md;
    &:nth-child(2n-1) {
      background: $light-grey;
    }
    &:hover {
      background-color: $pink;
      cursor: pointer;
    }
  }

  .track-info {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
  }

  .track-basic {
  }

  .track-extended {
    text-align: right;
    color: rgb(150, 150, 150);
    font-size: .75em;
  }

  .playlist-time {

  }

  .playlist-title {
  }

}
