.playlist-item {
  display: grid;
  grid-template-columns: 1fr 13fr;
  grid-template-rows: 1fr;
}

.track-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.playlist-time {
  width: 75px;
}
