<div class="editor-container">
  <div><%= @show.name %> >> <%= @episode.title %></div>
  <%= render 'form' %>

  <div class='edit-playlist-section'>
    <div class="playlist">
      <%= render partial: "playlist", collection: @playlists %>
    </div>
    <button class='add-playlist-item-btn'>Add track to playlist</button>
  </div>
</div>
